<<<<<<< HEAD
#footer {
    background: var(--bg-accent);
}

#footer .wrapper {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    padding: 40px 20px;
}

#footer .handles-container {
    margin-top: 30px;
}

#footer .route {
=======
#footer{
    background: var(--bg-accent);
}

#footer .wrapper{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 40px;
}

#footer .handles-container{
    margin-top: 30px;
}

#footer .route{
>>>>>>> 5b3a05d19eec8cf830028522b85aed9467d838e6
    display: block;
    margin: 10px 0;
    cursor: pointer;
    transition: var(--transition);
}

<<<<<<< HEAD
#footer .route:hover {
    color: var(--primary);
}

#footer .copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    text-align: center;
}

@media (max-width: 800px) {
    #footer .wrapper {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 500px) {
    #footer .wrapper {
        grid-template-columns: 100%;
    }

    #footer .logo,
    #footer .handles-container {
        justify-content: center;
    }

    #footer .title,
    #footer .route {
        text-align: center;
    }

    #footer .copyright {
        font-size: 0.9rem;
        padding-bottom: 40px;
    }
}
=======
#footer .route:hover{
    color: var(--primary);
}

#footer .copyright{
    flex-direction: column;
    padding: 0 20px 50px 20px;
    text-align: center;
}

@media (max-width:800px){
    #footer .wrapper{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width:500px){
    #footer .wrapper{
        grid-template-columns: 100%;
    }
    #footer .logo,
    #footer .handles-container{
        justify-content: center;
    }
    #footer .title,
    #footer .route{
        text-align: center;
    }
}
>>>>>>> 5b3a05d19eec8cf830028522b85aed9467d838e6
